body {
  background: rgb(29,36,43);
  color:#fff;
  font-family: 'Sarabun', sans-serif;
}
h1,h2 {text-align:center}
h1 {
  font-family: 'Jura', sans-serif;
  font-size: 3.2em;
}
.card {
  max-width:600px;
  text-align:left;
  margin: 0 auto
}

a {color:#fff}
a:hover {color:#fefefe}
a:visited {color:#fafafa}

dt {
  font-weight:bold;
  color:#F37477;
  margin-top:0.6em;
}
